<form [formGroup]="loginFormGroup" (ngSubmit)="login()">
  <mat-card class="login-card">
    <mat-card-header>
      <mat-card-title class="login-title">Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field appearance="fill" class="small-input">
        <mat-label>Username</mat-label>
        <input
          matInput
          placeholder="Username"
          formControlName="username"
          name="username"
          required
        />
      </mat-form-field>
      <mat-form-field appearance="fill" class="small-input">
        <mat-label>Password</mat-label>
        <input
          matInput
          placeholder="Password"
          formControlName="password"
          type="password"
          name="password"
          required
        />
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button type="submit" color="primary" class="small-button">
        Login
      </button>
    </mat-card-actions>
  </mat-card>
</form>
