
.search-bar {
  margin: 1rem auto;
  display: flex;
  flex-wrap: wrap; 
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding-left: 15vw;
  padding-right: 15vw;
  flex: center;
}

.search-bar input {
  width: 30vw;
  height: 5vh;
  font-size: 1.2rem;
  padding: 0 1rem;
  border: 2px solid #ccc;
  border-radius: 25px;
  outline: none;
  transition: border-color 0.3s;
}
.hidden {
  display: none; /* Hides the element but keeps it in the DOM */
}
.search-bar input:focus {
  border-color: #28ee00;
}
.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25vw;
  border: 2px solid #ccc;
  border-radius: 25px;
  overflow: hidden; 
  background-color: #f9f9f9;
}
.search-container input {
  border: none;
  outline: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  flex: 1; 
}
.search-container input::placeholder {
  color: #aaa;
}
.search-container button {
  background-color: #28ee00;
  max-height: max-content;
  color: white;
  border: none;
  padding: 0 1rem;
  padding-top: 1vh;
  padding-bottom: 1vh;
  font-size: 1rem;
  font-weight: bold;
  margin-right: 1vw;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 20px;
}
.search-container button:hover {
  background-color: #039e2a;
}
.search-container button:active {
  transform: scale(0.95);
}
.aqi-display {
  margin-left: 1rem;
  font-size: 1.2rem;
  color: #007bff;
  font-weight: bold;
}
.city-name {
  position: relative; 
    flex: left;
    background-color: #f9f9f9;
    border: 2px solid #28a745; 
    border-radius: 10px;
    padding: 1vh 15px;
    color: #28a745;
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000; 
    height:3vh;
    display: flex;
   justify-content: center; 
   align-items: center; 
    
}

.city-name h2 {
  color: #039e2a; 
  font-size: 1.2rem;
  font-weight: bold;
}
.map-container {
  position: relative;
  width: 70vw;
  margin: 0 auto;
  transition: max-height 0.3s ease; 
}
#map.collapsed {
  height: 0; 
  overflow: hidden; 
}
  #map {
    width: 70vw;
    height: 35vw;
    margin-top: 1rem;
    position: relative;
    margin: 0 auto;
    padding-bottom: 3rem;
    border-radius: 10px; 
    transition: max-height 0.3s ease; 
  }

  .map-toggle {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .map-toggle i {
    font-size: 1.2rem;
    color: #333;
  }
  
  .map-toggle:hover {
    background-color: #f0f0f0;
  }

  @media (max-width: 768px) {
    .search-bar {
      flex-direction: column;
    }
  
    .aqi-display {
      margin-left: 0;
      margin-top: 0.5rem;
    }
    .bubble-content {
      width: 90%; 
      padding: 0.5rem;
    }
  
    .bubble-content table {
      font-size: 0.9rem; 
    }
  }

  .info {
    position: relative; 
    flex: right;
    background-color: #f9f9f9;
    border: 2px solid #28a745;
    border-radius: 10px;
    padding: 10px 15px;
    color: #28a745;
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000; 
  }
  
  .info p {
    margin: 0;
    font-size: 1rem;
    word-wrap: break-word;
  }
  
  .info strong {
    color: #039e2a; 
    font-size: 1.2rem;
  }
  

  .aqi-table {
    margin-top: 20px;
    width: 70vw;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .aqi-table table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
    justify-content: center;
  }
  .aqi-table th, 
  .aqi-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  .aqi-table th {
    background-color: #f4f4f4;
  }
    /* Farbcodierung für die Indizes */
    .index-1 {
      background-color: #00FF00; /* Grün */
      color: #000;
    }
    .index-2 {
      background-color: #FFFF00; /* Gelb */
      color: #000;
    }
    .index-3 {
      background-color: #FFA500; /* Orange */
      color: #000;
    }
    .index-4 {
      background-color: #FF0000; /* Rot */
      color: #FFF;
    }
    .index-5 {
      background-color: #800080; /* Lila */
      color: #FFF;
    }

    .aqi-bubble {
      margin-top: 1rem;
      display: flex;
      flex-direction: column;
      align-items:start;
      padding-left: 15vw;
      justify-content: flex-start; 
      border-radius: 10px;
    }
    .aqi-bubble h2 {
      cursor: pointer;
      color: black;
      padding: 0.5rem 1rem;
      border-radius: 5px;
      display: inline-block;
      font-size: 1rem;
      border-color: #353535;
      border-style: solid;
      
    }
    .toggle-container {
      margin: 0 auto;
      text-align: center;
      padding: 0 15%;
    }
    .aqi-bubble h2:hover {
      background-color: #9d9e9e;
    }
    .toggle-row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 1rem;
     
      overflow: hidden;
      
    }
    .toggle-button {
      cursor: pointer;
      color: #333;
      padding: 0.5rem 1rem;
      border-radius: 5px;
      background-color: #f9f9f9;
      border: 2px solid #181818;
      font-size: 1.2rem;
      transition: background-color 0.3s;
      text-align: center;
      flex: 1; /* Equal space for both toggles */
      margin: 0 0.5rem;
      align-items: center;


    }
    .toggle-button:hover {
      background-color: #e0e0e0;
    }
    .toggle-icon {
      margin-left: 0.5rem;
      font-size: 1rem;
    }
    .bubble-content {
      margin-top: 0.5rem;
      border: 1px solid #ddd;
      border-radius: 5px;
      overflow: hidden;
      background-color: #f9f9f9;
      padding: 1rem;
      width: 95%; 
      max-width: 95%; 
      text-align: center;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .bubble-content table {
      width: 100%;
      border-collapse: collapse;
      margin: 0 auto; /* Center the table horizontally */
      padding-left: 15vw;
    }
    .bubble-content th,
    .bubble-content td {
      padding: 0.5rem;
      border: 1px solid #ddd;
      text-align: center;
    }
    .bubble-content th {
      background-color: #f4f4f4;
    }
    .toggle-icon {
      float: right;
      padding: 2px 2px;
    }

    .text-yellow {
      color: yellow;
      text-shadow: 1px 1px 2px black;
    }

    .history-section {
      margin-top: 1rem;
      display: flex;
      flex-direction: column;
      align-items:end;
      padding-right: 15vw;
      justify-content: flex-end; 
      border-radius: 10px;

    }
    
    .history-section h2 {
      cursor: pointer;
      color: black;
      padding: 0.5rem 1rem;
      border-radius: 5px;
      display: inline-block;
      font-size: 1rem;
      border-color: #353535;
      border-style: solid;
    }
    
    .history-section h2:hover {
      background-color: #e0e0e0;
    }
    
    .toggle-icon {
      float: right;
      font-size: 1rem;
    }
    
    .history-content {
      margin-top: 0.5rem;
      border: 1px solid #ddd;
      border-radius: 5px;
      overflow: hidden;
      background-color: #f9f9f9;
      padding: 1rem;
      width: 100%; 
      max-width: 95%;
      text-align: center;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
    
  .history-table {
    margin-top: 20px;
    width: 70vw;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .history-table table {
        width: 100%;
        border-collapse: collapse;
        margin: 0 auto;
        justify-content: center;
    }
    .history-table th,
    .history-table td {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: center;
    }
    
    .history-table th {
      background-color: #f4f4f4;
    }
    
    .mat-elevation-z4 {
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    }
    .collapse-layer {
      display: flex;
      flex-direction: column;
    }