
.search-bar {
    margin-bottom: 1rem;
    margin: 0 auto;
    text-align: center;
    gap: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  
  #map {
    width: 70vw;
    height: 30vw; 
    margin-top: 1rem;
    position: relative;
    margin: 0 auto;
    padding-bottom: 3rem;
  }
  
  
  .info {
    margin-bottom: 1rem;
    margin: 0 auto;
    text-align: center;
    gap: 1rem;
    padding-bottom: 1rem;
  }

