<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
     integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
     crossorigin=""/>
<div>
<!-- map.component.html -->
<div class="search-bar">
  <div class="search-container">
    <input
    type="text"
    [value]="cityName()"
    (input)="cityName.set($any($event.target).value)"
    placeholder="Enter city name"
    (keyup.enter)="searchCity()"
  />
  <button (click)="searchCity()">Search</button>
  </div>
  
  @if (cityNameDisplay()) {
    <div class="city-name">
      <h2>{{ cityNameDisplay() }}</h2>
    </div>
  }
  
  <div class="info">
    @if (airQualityIndex !== null) {
      <p>
        <strong>Air Quality Index (AQI): {{ airQualityIndex() }}</strong>
      </p>
    } @else {
      <p>AQI data not available.</p>
    }
  </div>
</div>


    <div id="map"></div>
    <div class="aqi-bubble">
      <h2 (click)="toggleAqiBubble()">
        Air Quality Index (AQI) Table  <span class="toggle-icon">{{ isBubbleExpanded ? '▲' : '▼' }}</span>
      </h2>
      @if (isBubbleExpanded) {
        <div class="bubble-content">
          <table>
            <thead>
              <tr>
                <th>Qualitative Name</th>
                <th>Index</th>
                <th>NO₂ (μg/m³)</th>
                <th>PM₁₀ (μg/m³)</th>
                <th>PM₂.₅ (μg/m³)</th>
                <th>CO (μg/m³)</th>
                <th>Description of Air Quality</th>
              </tr>
            </thead>
            <tbody>
              <tr class="index-1">
                <td>Good</td>
                <td>1</td>
                <td>[0; 40)</td>
                <td>[0; 20)</td>
                <td>[0; 10)</td>
                <td>[0; 4400)</td>
                <td>Air quality is satisfactory, and air pollution poses little or no risk.</td>
              </tr>
              <tr class="index-2">
                <td>Fair</td>
                <td>2</td>
                <td>[40; 70)</td>
                <td>[20; 50)</td>
                <td>[10; 25)</td>
                <td>[4400; 9400)</td>
                <td>Air quality is acceptable. However, there may be a risk for some people, particularly those who are unusually sensitive to air pollution.</td>
              </tr>
              <tr class="index-3">
                <td>Moderate</td>
                <td>3</td>
                <td>[70; 150)</td>
                <td>[50; 100)</td>
                <td>[25; 50)</td>
                <td>[9400; 12400)</td>
                <td>Members of sensitive groups may experience health effects. The general public is less likely to be affected.</td>
              </tr>
              <tr class="index-4">
                <td>Poor</td>
                <td>4</td>
                <td>[150; 200)</td>
                <td>[100; 200)</td>
                <td>[50; 75)</td>
                <td>[12400; 15400)</td>
                <td>Some members of the general public may experience health effects; members of sensitive groups may experience more serious health effects.</td>
              </tr>
              <tr class="index-5">
                <td>Very Poor</td>
                <td>5</td>
                <td>≥200</td>
                <td>≥200</td>
                <td>≥75</td>
                <td>≥15400</td>
                <td>Health alert: The risk of health effects is increased for everyone.</td>
              </tr>
            </tbody>
          </table>
        </div>
      }
    </div>

<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
crossorigin=""></script>
