.profile-heading {
    font-size: 1.5rem; /* Smaller heading */
  }
  
  .username {
    font-size: 1.2rem; /* Bigger username */
    margin-bottom: 16px;
  }
  
  .full-width {
    width: 100%;
    margin-bottom: 16px;
  }
  
  .view-mode p {
    margin: 8px 0;
  }

  .history-container {
    display: flex;
    justify-content: space-between;
  }

  .history-section {
    flex: 1;
    margin: 0 10px;
  }

  .calculator-history-section {
    text-align: left;
  }
