<mat-card>
  <div class="profile-info">
    <img [src]="profilePictureUrl || '/assets/logo.png'" alt="Profile Picture" class="profile-picture">
    <p class="username">{{ username }}</p>
  </div>

  <div> 
    <p class="created-at">Account Created: {{ createdAt | date:'mediumDate' }}</p>
  </div>

  <div class="button-group" style="display: flex; gap: 10px; flex-wrap: wrap;">
    <button *ngIf="!showChangePassword" mat-raised-button color="primary" class="small-button" (click)="toggleChangePassword()">Change Password</button>
    <button *ngIf="!showChangeProfilePicture" mat-raised-button color="primary" class="small-button" (click)="toggleChangeProfilePicture()">Change Profile Picture</button>
    <button mat-raised-button color="warn" class="small-button" (click)="deleteAccount()">Delete Account</button>
  </div>

  <div *ngIf="showChangePassword" class="change-password-container">
    <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
      <mat-form-field class="small-input">
        <mat-label>New Password</mat-label>
        <input matInput type="password" formControlName="newPassword" required>
      </mat-form-field>
      <mat-form-field class="small-input">
        <mat-label>Repeat New Password</mat-label>
        <input matInput type="password" formControlName="repeatPassword" required>
      </mat-form-field>
      <div class="button-container">
        <button mat-raised-button color="primary" type="submit" class="small-button">Change Password</button>
        <button mat-raised-button color="warn" class="small-button" (click)="cancelChangePassword()">Cancel</button>
      </div>
    </form>
  </div>

  <div *ngIf="showChangeProfilePicture" class="change-profile-picture-container">
    <form (ngSubmit)="changeProfilePicture($event)">
      <input type="file" (change)="onFileSelected($event)" required>
      <div class="button-container">
        <button mat-raised-button color="primary" type="submit" class="small-button" (click)="changeProfilePicture($event)">Upload</button>
        <button mat-raised-button color="warn" class="small-button" (click)="cancelChangeProfilePicture()">Cancel</button>
      </div>
    </form>
  </div>

  <div class="history-container">
    <div class="history-section pollution-history-section">
      <h3>Pollution History</h3>
      <div *ngIf="pollutionHistories && pollutionHistories.length > 0">
        <button mat-raised-button color="primary" class="small-button" (click)="deleteAllPollutionHistories()">Delete All</button>
        <div *ngFor="let history of pollutionHistories">
          <p>{{ history.city }} - {{ history.dateValue  | date:'dd MMM yyyy' }}</p>
          <button mat-raised-button color="warn" class="small-button" (click)="deletePollutionHistory(history.id)">Delete</button>
        </div>
      </div>
      <div *ngIf="pollutionHistories && pollutionHistories.length === 0">
        <p>No pollution history available.</p>
      </div>
    </div>

    <div class="history-section calculator-history-section">
      <h3>CO2 Calculator History</h3>
      <div *ngIf="co2CalculatorHistories && co2CalculatorHistories.length > 0">
        <button mat-raised-button color="primary" class="small-button" (click)="deleteAllCo2CalculatorHistories()">Delete All</button>
        <div *ngFor="let history of co2CalculatorHistories">
          <p>{{ history.fromCity }} to {{ history.toCity }} - {{ history.date  | date:'dd MMM yyyy' }}</p>
          <button mat-raised-button color="warn" class="small-button" (click)="deleteCo2CalculatorHistory(history.id)">Delete</button>
        </div>
      </div>
      <div *ngIf="co2CalculatorHistories && co2CalculatorHistories.length === 0">
        <p>No CO2 calculator history available.</p>
      </div>
    </div>
  </div>
</mat-card>
