<mat-toolbar color="primary" class="custom-toolbar">
  <img src="/assets/logo.png" alt="Logo" routerLink="polution-map" style="height: 80px; margin-right: auto;" />
  @if(userService.isLoggedInSignal()){
  <button mat-menu-item routerLink="userprofile" class="rounded-button" >
    <img [src]="profilePictureUrl || '/assets/logo.png'" alt="Profile" class="profile-img" style="height: 60px;width: 60px;"/>
  </button>
}
  <button mat-icon-button [matMenuTriggerFor]="movieMenu" class="mobile-menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #movieMenu="matMenu">
    <button mat-menu-item routerLink="polution-map">Home</button>
    @if(!userService.isLoggedInSignal()){
      <button mat-menu-item routerLink="login">Login</button>
      <button mat-menu-item routerLink="register">Register</button> 
    }
    @if(userService.isLoggedInSignal()){
    <button mat-menu-item (click)="logout()">Logout</button>
    }
    <button mat-menu-item routerLink="calculator">Co2 Calculator</button>
  </mat-menu>

  <div class="desktop-menu">
    <button mat-button routerLink="polution-map">Home</button>
    @if(!userService.isLoggedInSignal()){
    <button mat-button routerLink="login">Login</button>
    <button mat-button routerLink="register">Register</button>
    }
    @if(userService.isLoggedInSignal()){
    <button mat-button (click)="logout()">Logout</button>
    }
    <button mat-button routerLink="calculator">Co2 Calculator</button>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>
<mat-toolbar color="primary" class="footer-toolbar">
  <!-- Navigation Links -->
  <div class="footer-links">
    <a mat-button routerLink="aboutUs">About Us</a>
    <a mat-button routerLink="imprint">Imprint</a>
    <a mat-button routerLink="privacy-policy">Privacy Policy</a>

  </div>
  <!-- Copyright -->
  <div class="footer-copyright">
    &copy; {{ currentYear }} PlanetPulse. All rights reserved.
  </div>
</mat-toolbar>