.custom-toolbar {
    height: 80px;
    display: flex;
    align-items: center;
}
.desktop-menu {
    display: flex;
    gap: 15px;
}
.mobile-menu {
    display: none;
}

@media (max-width: 768px) {
    .desktop-menu {
        display: none;
    }

    .mobile-menu {
        display: block;
    }
}
.rounded-button {
    height: 60px;
    width: 60px;
    padding: 0; 
    border-radius: 50%; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent; /* Hintergrund transparent */
    border: none; /* Kein Rand */
  }
  
.footer-toolbar {
    color: black; 
    display: flex;
    flex-direction: column; 
    align-items: center;
    padding: 10px 20px;
}

.footer-copyright {
    margin: 5px 0;
}

.footer-links a {
    color: black;
    text-decoration: none;
    margin-right: 15px;
    justify-content: center;
}

.footer-links a:hover {
    text-decoration: underline;
}

.social-icons a {
    color: black;
    margin-right: 10px;
}

mat-icon {
    font-size: 24px;
}

.footer-copyright {
    text-align: center;
    flex-basis: 100%;
    margin-top: 10px;
    font-size: 0.9rem;
}