<div class="imprint-container">
    <h1>Imprint</h1>
  
    <section class="imprint-section">
      <h2>Information according to § 5 TMG:</h2>
      <p><strong>DeppenVomDienst AG</strong></p>
      <address>
        Geldstraße 3<br>
        VX3R+RF Vaadhoo<br>
        Maldives
      </address>
    </section>
  
    <section class="imprint-section">
      <h2>Represented by:</h2>
      <ul>
        <li>Ettl Jörg, Project Leader</li>
        <li>Aigner Nico Luan, Member</li>
        <li>Butot Florian, Member</li>
        <li>Brandner Vega Asta Esther, Member</li>
      </ul>
    </section>
  
    <section class="imprint-section">
      <h2>Contact:</h2>
      <p><strong>Phone:</strong> +960 662-0337</p>
      <p><strong>Fax:</strong> +960 662-0332</p>
      <p><strong>Email:</strong> <a href="mailto:scamverein@geldgierig.mv">scamverein&commat;geldgierig.mv</a></p>
    </section>
  
    <section class="imprint-section">
      <h2>Registry entry:</h2>
      <p>Entry in the commercial register.<br>
        Register court: District Court Vaadhoo<br>
        Register number: SCAM 80085</p>
    </section>
  
    <section class="imprint-section">
      <h2>VAT ID:</h2>
      <p>VAT identification number according to VAT Act: MV 8008135666</p>
    </section>
  
    <section class="imprint-section">
      <h2>Responsible for the content:</h2>
      <ul>
        <li>Ettl Jörg</li>
        <li>Aigner Nico Luan</li>
        <li>Butot Florian</li>
        <li>Brandner Vega Asta Esther</li>
      </ul>
    </section>
  </div>